{% extends "main.html" %}
{% block title %} Prodi {% endblock %}
{% block content%}
    <h1>Program Studi</h1>
    <h4>Ini Halaman Program Studi</h4>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Prodi</th>
      <th scope="col">Fakultas</th>
      <th scope="col">UK</th>
    </tr>
  </thead>
  <tbody>
     {% for data in prodi %}
    <tr>
       
        <td> {{ data.nama }} </td>
        <td> {{ data.fakultas }} </td>
        {% if data.fakultas == "FIKR" %}
        <td> 8.000.000 </td>
        {% else %}
        <td> 6.000.000 </td>
        {% endif %}
       
    </tr>
     {% endfor %}
  </tbody>
</table>

{% endblock %}